{{ form_errors(form) }}
<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            {{ form_errors(form) }}
            <div class="column">
                {% for locale, translationForm in form.translations %}
                    {{ form_widget(form) }}
                {% endfor %}
            </div>
        </div>
    </div>
</div>